<section id="skills" class="skills-section">
    <h2>Skills</h2>

    <ul class="skill-categories">
        {% for category in site.skills %}
        <li>
            <div class="skills-card">
                <span class="category-label">{{ category.category }}</span>
                <ul class="skills-list">
                    {% for tool in category.tools %}
                    <li class="skill">{{ tool }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
